@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125vh;
    font-family: 'Noto Sans JP', sans-serif;
}

.sign-in-form {
    padding: 35px;
    background-color: hsl(158, 100%, 83%);
    color: hsl(210, 5%, 5%);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    width: 100%;
}

.form-warning {
    color: red;
    font-size: 12px;
    min-height: 16px;
}